<div class="outer">
  <ng-template #load>
    <app-loader></app-loader>
  </ng-template>
  <div class="wrap">
    <ng-container *ngIf="!isLoading; else load">
      <div routerLink="/" class="close">
        <svg
          aria-hidden="true"
          focusable="false"
          width="1em"
          height="1em"
          style="
            -ms-transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
          "
          preserveAspectRatio="xMidYMid meet"
          viewBox="0 0 16 16"
        >
          <g fill="#626262">
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M8 8.707l3.646 3.647l.708-.707L8.707 8l3.647-3.646l-.707-.708L8 7.293L4.354 3.646l-.707.708L7.293 8l-3.646 3.646l.707.708L8 8.707z"
            />
          </g>
        </svg>
      </div>

      <div class="header">
        <div class="header-top">
          <div class="title">
            <h2>{{ coinComplete[0].name }}</h2>
            <h3>{{ coinComplete[0].symbol }}</h3>
          </div>
          <div class="tag">
            <h4>EXPLODING</h4>
          </div>
        </div>
        <div class="price">
          <h2>{{ coinComplete[1].price | currency }}</h2>
        </div>
      </div>
      <div class="stats">
        <div class="daily">
          <h5>Volume</h5>
          <p>{{ coinComplete[2].quotes.USD.volume_24h | formatNumber }}</p>
        </div>

        <div class="growth">
          <h5>growth</h5>
          <p>{{ growth | number: "1.2-2" }} %</p>
        </div>
      </div>
      <div class="description">
        <p>
          {{ coinComplete[0].description }}
        </p>
      </div>
    </ng-container>
    <canvas id="{{ idRt }}"></canvas>
  </div>
</div>
