@import "./../../variables";
.outer {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  app-loader {
    position: absolute;
    z-index: 999;
  }

  .wrap {
    width: 400px;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    background-color: white;
    margin: 20px;
    box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
    .close {
      position: absolute;
      cursor: pointer;
      top: -35px;
      right: 0;
      font-size: 30px;
    }
    .header {
      margin-bottom: 10px;
      .header-top {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        .title {
          display: flex;
          align-items: baseline;
          h3 {
            color: $subtle;
            margin-left: 5px;
          }
        }
        .tag {
          background-color: $green;
          font-size: 0.8rem;
          letter-spacing: 2px;
          padding: 5px 10px;
          border-radius: 5px;
          color: white;
        }
      }
      .price {
        color: $blue;
      }
    }
    .stats {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      .value {
        display: flex;
        align-items: center;
        .status-red {
          fill: red;
          margin-right: 5px;
        }
        .status-green {
          fill: green;
          transform: rotate(180deg);
          margin-right: 5px;
        }
      }
      h5 {
        color: $subtle;
        font-weight: 500;
        margin-bottom: 5px;
      }
    }
    .description {
      color: $grey;
      letter-spacing: 0.5px;
      line-height: 20px;
      margin-bottom: 10px;
      font-size: 0.8rem;
    }
  }
}
