.tick {
  padding: 8px 5px;
  min-width: 200px;
  span {
    font-weight: 300;
  }
  .stats {
    display: flex;
    align-items: center;
  }
  h4 {
    font-weight: 800;
  }
}
.status-red {
  fill: red;
  margin: 0 5px;
}
.status-green {
  fill: green;
  margin: 0 5px;
  color: #92c9ff31;

  transform: rotate(180deg);
}
