<div class="wrap">
  <app-navigation></app-navigation>
  <div class="inner">
    <h1>
      <span class="blue">Cryptocurrencies </span> like
      <span class="blue">Bitcoin </span> and
      <span class="blue">Etherum </span> are powered by a technology called the
      blockchain.
    </h1>
    <p>
      At its most basic, a blockchain is a list of transactions that anyone can
      view and verify. The Bitcoin blockchain, for example, contains a record of
      every time someone sent or received bitcoin. Cryptocurrencies and the
      blockchain technology that powers them make it possible to transfer value
      online without the need for a middleman like a bank or credit card
      company.
    </p>
    <p class="quote">
      Due to the cryptographic nature of these networks, payments via blockchain
      can be more secure than standard debit/credit card transactions. When
      making a Bitcoin payment, for instance, you don’t need to provide any
      sensitive information. That means there is almost zero risk of your
      financial information being compromised, or your identity being stolen.
    </p>
    <p>
      At its most basic, a blockchain is a list of transactions that anyone can
      view and verify. The Bitcoin blockchain, for example, contains a record of
      every time someone sent or received bitcoin. Cryptocurrencies and the
      blockchain technology that powers them make it possible to transfer value
      online without the need for a middleman like a bank or credit card
      company.
    </p>
    <p class="quote">
      Due to the cryptographic nature of these networks, payments via blockchain
      can be more secure than standard debit/credit card transactions. When
      making a Bitcoin payment, for instance, you don’t need to provide any
      sensitive information. That means there is almost zero risk of your
      financial information being compromised, or your identity being stolen.
    </p>
  </div>
</div>
