@import "./../../variables";

.wrap {
  // background-image: url("/assets/bcgDark.png");
  .inner {
    max-width: 900px;
    margin: 5% auto;
    // color: white;
    line-height: 1.7;
    letter-spacing: 1.3px;
    .blue {
      color: $blue;
    }
    h1 {
      text-align: center;
      margin-bottom: 20px;
    }
    p {
      font-family: "Titillium Web";
      font-weight: 600;
    }
    .quote {
      margin: 5% 10%;
      padding: 10px;
      font-family: "Titillium Web";
      font-weight: 100;
      border-left: 3px solid $blue;
    }
  }
}
