<div class="outer">
  <ng-template [ngIf]="isLoading">
    <app-loader></app-loader>
  </ng-template>
  <div [ngStyle]="{ opacity: isLoading ? 0.3 : 1 }" class="wrap">
    <app-single-coin
      *ngFor="
        let coin of allCoins | paginate: { itemsPerPage: 6, currentPage: p }
      "
      [singleCoin]="coin"
    >
    </app-single-coin>
  </div>
  <pagination-controls
    class="my-pagination"
    directionLinks="false"
    previousLabel=""
    nextLabel=""
    (pageBoundsCorrection)="p = $event"
    (pageChange)="p = $event"
  ></pagination-controls>
</div>
