.outer {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  app-loader {
    position: absolute;

    left: 50vw;
  }
  .wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0% 2%;
  }
}

.my-pagination ::ng-deep .ngx-pagination .current {
  background: #233dbd !important;
  border-radius: 8px;
}
