<div class="wrap">
  <div class="chimp">
    <h1>Sign up for more!</h1>
    <form
      ngNoForm
      [action]="url"
      method="post"
      id="mc-embedded-subscribe-form"
      name="mc-embedded-subscribe-form"
      class="validate"
      target="_blank"
      novalidate
    >
      <div id="mc_embed_signup_scroll">
        <input
          type="email"
          value=""
          name="EMAIL"
          class="email"
          id="mce-EMAIL"
          placeholder="email address"
          required
        />
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px" aria-hidden="true">
          <input
            type="text"
            name="b_6e4dedf53a93d94d5f1311c15_02bb71788a"
            tabindex="-1"
            value=""
          />
        </div>
        <div class="clear">
          <input
            type="submit"
            value="Subscribe"
            name="subscribe"
            id="mc-embedded-subscribe"
            class="button"
          />
        </div>
      </div>
    </form>
  </div>
</div>
