<ng-template #name>
  <app-mail-chimp></app-mail-chimp>
</ng-template>
<div *ngIf="singleCoin.symbol != 'BNB'; else name" class="wrap">
  <div routerLink="/coin/{{ singleCoin.id }}">
    <div class="header">
      <div class="header-top">
        <div class="title">
          <h2>{{ singleCoin.name }}</h2>
          <h3>{{ singleCoin.symbol }}</h3>
        </div>
        <div class="tag">
          <h4>{{ singleCoin.status }}</h4>
        </div>
      </div>
      <div class="price">
        <h2>{{ singleCoin.price | currency }}</h2>
      </div>
    </div>

    <div class="stats">
      <div class="daily">
        <h5>Volume</h5>
        <p>
          {{ singleCoin.volume | formatNumber }}
        </p>
      </div>
      <div class="daily">
        <h5>Growth</h5>
        <p>{{ growth | number: "1.2-2" }} %</p>
      </div>
    </div>
    <div class="chartwrap">
      <canvas id="{{ singleCoin.id }}"></canvas>
    </div>
  </div>
</div>
