@import "./../../variables";

.wrap {
  input {
    border: 1px solid $blue;
    border-radius: 7px;
    padding: 4px;
    margin-bottom: 5px;
  }

  h1 {
    position: absolute;
    font-size: 1.3rem;
    color: #bdbdbd;
  }
}
